html, body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
}

.main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  padding: 0;
  margin: 0;
}

.link:link {
  color:aqua;
}

.link:visited {
  color:deeppink;
}

#msglog {
  width: clamp(340px, 100vw - 4vw, 510px);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.msglog {
  width: clamp(300px, 100vw - 4vw, 500px);
  height: clamp( 40px, 40px + 2vw + 2vh, 100px);
  background-color: aliceblue;
  color: black;
  font-size: 1.2rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  /* mask-image: linear-gradient(to bottom, transparent 10%, black 100%); */
  margin: 0 auto 0 auto;
  padding: 5px;
}

.msglog p {
  padding: 0;
}

.boardbox {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  align-items:center;
  font-size: 1.0rem;
}

.boardAndTitle {
  text-align: center;
}

.computerboard {
  width: clamp(300px, 300px + 5vw, 450px);
  height: auto;
  aspect-ratio: 1 / 1;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.playerboard {
  width: clamp(280px, 280px + 5vw, 420px);
  height: auto;
  aspect-ratio: 1 / 1;
  border: 2px solid black;
  margin: 5px auto;
  padding: 0;
}

.buttonbox {
  display: flex;
  justify-content: center;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.shipNumber {
  font-size: 3.6rem;
  margin: 10px;
}

.resetButton {
  min-height: 66px;
  font-size: 2.4rem;
  padding: 5px;
  background-color: darkblue;
  color: aliceblue;
}

@media (min-width: 650px){
  .boardbox {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    width: clamp(650px, 90%, 800px);
  }
}

@media (min-width: 750px) and (orientation: landscape) {

}





