.link:link {
  color:aqua;
}

.link:visited {
  color:deeppink;
}

#msglog {
  width: clamp(340px, 100vw - 4vw, 510px);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.msglog {
  width: clamp(300px, 100vw - 4vw, 500px);
  height: clamp( 40px, 40px + 2vw + 2vh, 100px);
  background-color: aliceblue;
  color: black;
  font-size: 1.2rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  margin: auto auto 0 auto;
}

.msglog p {
  padding: 0;
}

.boardbox {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  align-items:center;
  font-size: 1.0rem;
}

.boardAndTitle {
  text-align: center;
}

.computerboard {
  width: clamp(300px, 300px + 5vw, 450px);
  height: auto;
  aspect-ratio: 1 / 1;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.playerboard {
  width: clamp(280px, 280px + 5vw, 420px);
  height: auto;
  aspect-ratio: 1 / 1;
  border: 2px solid black;
  margin: 5px auto;
  padding: 0;
}

.buttonbox {
  display: flex;
  justify-content: center;
}

.article {
  display: grid;
  grid-template-rows: 1fr min-content;
}

@media (min-width: 650px){
  .boardbox {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: clamp(650px, 90%, 800px);
  }
}

@media (min-width: 750px) and (orientation: landscape) {
  .article {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    width: clamp(750px, 90%, 1000px);
    margin: 0 auto;
  }

  .header {
    height: clamp(min-content, 200px + 10vh, 400px );
    display: flex;
    justify-items: center;
    align-items: end;
  }

  .main {
    display: grid;
    grid-template-rows: 1fr 2fr min-content;
  }

}





