.missedShot {
  background-color: #222;
  color: white;
  /* font-size: 2.4rem; */
  border: 1px solid #222;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openOcean {
  background-image:linear-gradient(rgb(13, 66, 64), midnightblue,rgb(13, 66, 64) );
  color: white;
  /* font-size:2.4rem; */
  border: 1px solid #222;
  aspect-ratio: 1 / 1;
  display: flex;
    justify-content: center;
    align-items: center;
}

.hitShip {
  background-color: red;
  color: aliceblue;
  /* font-size: 2.4rem; */
  border: 1px solid #222;
  aspect-ratio: 1 / 1;
  display: flex;
    justify-content: center;
    align-items: center;
}

.friendlyShip {
  background-color:darkgreen;
  color:aliceblue;
  /* font-size: 2.4rem; */
  border: 1px solid #222;
  aspect-ratio: 1 / 1;
  display: flex;
    justify-content: center;
    align-items: center;
}