main {
  background-image:url('./assets/topography.svg');
  background-repeat: repeat;
  background-color: #3a038d;
  color:aliceblue;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content min-content;
  font-size: clamp(1.4rem, 1.4rem + 1vw, 1.8rem);
}

main * {
  /* padding: 5px; */
  font-family: 'Courier New', Courier, monospace;
}

header {
  text-align: center;
}

header, article, footer {
  min-width: 0;
}

.playerboard, .buttonbox {
  min-width: 0;
}

.shipbuttons, .utilbuttons {
  min-width: 0;
}

.playerboard {
  border: 3px solid black;
  /* height: clamp(320px, 320px + 2vh + 2vw, 640px); */
  width: clamp(320px, 100% - 4vw, 480px);
  height: auto;
  aspect-ratio: 1 / 1;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.shipbuttons {
  max-width: clamp(320px, 100% - 4vw, 480px);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;;
}

.shipbuttons button {
  width: 33%;
  background-color: aliceblue;
  border: 2px outset midnightblue;

}

.shipbuttons button p {
  padding: 0;
  
}

button:active {
  transform: scale(0.90);
}

.lengthnum {
  font-size: 2.4rem;
}

.utilbuttons {
  max-width: clamp(320px, 320px + 2vh + 2vw, 640px);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.utilbuttons button {
  width: 50%;
  min-height: clamp(44px, 10%, 66px);
  background-color:darkblue;
  color:aliceblue;
}

footer {
  font-size: 1.0rem;
  background-color: #222;
}

footer a:link {
  color:aqua;
}

footer a:visited {
  color: hotpink;
}

.credits {
  font-size: 1.0rem;
}

@media (min-width: 700px) and (orientation: landscape) {

  .article {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .playerboard {
    margin: 20px;
  }

  .shipbuttons {
    flex-direction: column;
    align-items: center;
  }

  .utilbuttons button {
    min-height: 44px;
    font-size: 1.8rem;
  }
}